body {
  background: url(../img/hero-bg.png) center no-repeat;
  position: relative;
  background-size: cover;
  color: #171925;
}

.mask {
  background: #171925;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.94;
}

.block-mask {
  background: #171925;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.94;
}

.accent-btn {
  border-radius: 6px;
  border: none;
  background-color: #E6F64B;
  color: #171925;
}

.accent-btn:hover {
  background-color: #E9F75E;
}

header {
  padding: 48px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  color: #fff;
  margin-right: 55px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

header nav a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 6px dotted #E6F64B;
}

header .buttons button {
  height: 44px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

header .buttons .login {
  background-color: transparent;
  color: #fff;
  border: 2px solid #2B2E44;
  padding: 0px 25px;
}

header .buttons .sign-up {
  border: none;
  background-color: #E6F64B;
  padding: 0px 17px;
  margin-left: 16px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-descr {
  margin-top: 128px;
  margin-left: 110px;
  color: #fff;
  width: 55%;
}

.hero-descr h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 800;
  margin-bottom: 34px;
}

.hero-descr h1 span {
  color: #E6F64B;
}

.hero-descr p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 56px;
}

.hero-descr button {
  padding: 16px 32px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.blocks {
  position: relative;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 32px 0px 32px 40px;
  width: 550px;
  height: 200px;
  background-color: rgba(41, 44, 65, 0.5);
  border-radius: 26px;
  margin-bottom: 48px;
}

.blocks .block-descr {
  color: #fff;
  width: 310px;
}

.blocks .block-descr h5 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.blocks .block-descr p {
  color: #B6BAD2;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.blocks .block embed {
  position: absolute;
  top: -55px;
  right: -75px;
}

.blocks .block embed svg {
  width: 156px;
  height: 204px;
}

.blocks .block .bag {
  top: -70px;
}

.blocks .dragon {
  position: absolute;
  right: -30px;
  bottom: -110px;
}

.popular {
  margin-top: 80px;
}

.popular h2 {
  font-size: 44px;
  font-weight: 800;
  line-height: 80px;
  color: #FFF;
  margin-bottom: 56px;
}

.popular h2 span {
  color: #E6F64B;
}

.popular-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-blocks .popular-block {
  cursor: pointer;
  position: relative;
}

.popular-blocks .popular-block .image {
  opacity: 1;
  display: block;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.popular-blocks .popular-block .play {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -70px;
  text-align: center;
}

.popular-blocks .popular-block embed {
  border-radius: 20px;
  margin-bottom: 22px;
}

.popular-blocks .popular-block p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 26px;
}

.popular-blocks .popular-block:hover .image {
  opacity: 0.5;
}

.popular-blocks .popular-block:hover .play {
  opacity: 1;
}

.reviews {
  margin-top: 82px;
  color: #fff;
  position: relative;
}

.reviews .gem {
  position: absolute;
  right: 0;
}

.reviews .un_gem {
  position: absolute;
  bottom: 100px;
  left: 0;
}

.reviews h1 {
  margin-bottom: 56px;
  text-align: center;
}

.reviews .carousel {
  height: 500px;
}

.reviews .review-block {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  height: 400px;
  padding: 48px;
  background-color: #292C4180;
  border-radius: 26px;
}

.reviews .review-block h4 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.reviews .review-block p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #B6BAD2;
  margin: 0;
}

.reviews .review-block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .review-block_header .info {
  margin-left: 16px;
}

.reviews .review-block_body {
  margin-top: 37px;
}

.reviews .review-block_body h4 {
  margin-bottom: 9px;
}

.reviews .review-block .rating {
  margin-top: 34px;
}

.reviews .review-block:nth-child(1) {
  margin-right: 1.5%;
}

.reviews .review-block:nth-child(3) {
  margin-left: 1.5%;
}

.reviews .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .carousel-indicators li {
  background-color: #E6F64B;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.reviews .carousel-indicators .active {
  width: 20px;
  height: 20px;
}

footer {
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright {
  width: 60%;
  color: #676A7C;
  font-size: 14px;
  line-height: 24px;
}

footer .terms {
  color: #676A7C;
}

footer .terms a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.privacy {
  color: #FFF;
}
/*# sourceMappingURL=style.css.map */