$accent: #E6F64B;
$accent-hover: #E9F75E;
$primary: #171925;
$primary-light: #2B2E44;
$primary-lightest: #B6BAD2;


body {
    background: url(../img/hero-bg.png) center no-repeat;
    position: relative;
    background-size: cover;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container-fluid {
    padding: 0 96px;
}
.mask {
    background: #171925;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.94;
}
.block-mask {
    background: #171925;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.94;
}
.accent-btn {
    border-radius: 6px;
    border: none;
    background-color: $accent;
    color: $primary;
    &:hover {
        background-color: $accent-hover;
    }
}
.active-block {
    display: block !important;
}
// POPUP SIGN IN
.sign-popup {
    display: none;
    position: relative;
    width: 608px;
    height: 532px;
    position: absolute;        
    background-color: rgba(43, 46, 68, 0.9);
    z-index: 20;
    border-radius: 24px;
    top: 49px;
    padding: 44px 48px;
    color: #fff;
    text-align: center;

    .close-sign {
        position: absolute;
        right: 24px;
        top: 24px;
        cursor: pointer;
    }
    .inputs {
        margin-top: 44px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input-container{
            position: relative;
            width: auto;
            embed {
                position: absolute;
                right: 13px;
                top: 13px;
            }
        }
        input {
            width: 244px;
            height: 44px;
            margin-bottom: 24px;
            border-radius: 6px;
            border:none;
            padding-left: 12px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            &::placeholder {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                color: #969CBF;
            }
            &:focus {
                outline: none;
            }
        }
    }
    button {
        width: 244px;
        height: 44px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    p {
        margin-top: 23px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        a {
            color: $accent;
            &:hover {
                color: $accent-hover;
                text-decoration: none;
            }
        }
    }
}
// HEADER
header {
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        a {
            color: #fff;
            margin-right: 55px;
            font-size: 17px;
            line-height: 24px;
            font-weight: 600;
            &:hover {
                color: #fff;
                text-decoration: none;
                border-bottom: 6px dotted $accent;
            }
        }
    }
    .buttons {
        button {
            height: 44px;
            border-radius: 6px;
            font-size: 17px;
            line-height: 24px;
            font-weight: 600;
        }
        .login {
            background-color: transparent;
            color: #fff;
            border: 2px solid #2B2E44;
            padding: 0px 25px;
        }
        .sign-up {
            border: none;
            background-color: $accent;
            padding: 0px 17px;
            margin-left: 16px;
        }
    }
}
// HERO
.hero {
    display: flex;

    &-descr {
        margin-top: 128px;
        margin-left: 110px;
        color: #fff;
        width: 55%;
        h1 {
            font-size: 70px;
            line-height: 80px;
            font-weight: 800;
            margin-bottom: 34px;
            span {
                color: $accent;
            }
        }
        p {
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 56px;
        }
        button {
            padding: 16px 32px;
            font-size: 19px;
            line-height: 24px;
            font-weight: 700;
        }
    }
}
// BLOCKS 
.blocks {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .block {
        display: flex;
        position: relative;
        padding: 32px 0px 32px 40px;
        width: 49%;
        height: 200px;
        background-color: rgba(41, 44, 65, 0.5);
        border-radius: 26px;
        margin-bottom: 48px;
        &-descr {
            color: #fff;
            width: 310px;
            h5 {
                font-size: 24px;
                line-height: 24px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            p {
                color: $primary-lightest;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                margin: 0;
            }
        }

        embed {
            position: absolute;
            top: -55px;
            right: -75px;
            svg {
                width: 156px;
                height: 204px;
            }
        }
        .bag {
            top: -70px;
        }
    }
    .dragon {
        position: absolute;
        right: -30px;
        bottom: -110px;
    }
}
// POPULAR GAMES
.popular {
    margin-top: 80px;
    h2 {
        font-size: 44px;
        font-weight: 800;
        line-height: 80px;
        color: #FFF;
        margin-bottom: 56px;
        span {
            color: $accent;
        }
    }
    &-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .popular-block {
            cursor: pointer;
            position: relative;
            width: 21%;
            .image {
                opacity: 1;
                display: block;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
            }
            .play {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                left: 50%;
                margin-left: -30px;
                top: 50%;
                margin-top: -70px;
                text-align: center;
            }
            embed {
                border-radius: 20px;
                margin-bottom: 22px;
            }
            p {
                color: #fff;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 26px;
            }
        }
        .popular-block:hover .image {
            opacity: 0.5;
        }
        .popular-block:hover .play {
            opacity: 1;
        }
    }
}
// REVIEWS
.reviews {
    margin-top: 82px;
    color: #fff;
    position: relative;
    .gem {
        position: absolute;
        right: 0;
    }
    .un_gem {
        position: absolute;
        bottom: 100px;
        left: 0;
    }
    h1 {
        margin-bottom: 56px;
        text-align: center;
    }
    .carousel {
        height: 500px;
    }
    .review-block {
        display: inline-flex !important;
        flex-direction: column;
        width: 32%;
        height: 400px;
        padding: 48px;
        background-color: #292C4180;
        border-radius: 26px;
        h4 {
            font-size: 22px;
            line-height: 24px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $primary-lightest;
            margin: 0;
        }
        &_header {
            display: flex;
            align-items: center;
            .info { 
                margin-left: 16px;      
            }
        }
        &_body {
            margin-top: 37px;
            h4 {
                margin-bottom: 9px;
            }
        }
        .rating {
            margin-top: 34px;
        }
    }
    .review-block:nth-child(1) {
        margin-right: 1.5%;
    }
    .review-block:nth-child(3) {
        margin-left: 1.5%;
    }
    .carousel-indicators {
        align-items: center;
        li {
            background-color: $accent;
            border-radius: 100%;
            width: 12px;
            height: 12px;
        }

        .active {
            width: 20px;
            height: 20px;
        }
    }
}
// FOOTER
footer {
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
    .copyright {
        width: 60%;
        color: #676A7C;
        font-size: 14px;
        line-height: 24px;
    }
    .terms {
        color: #676A7C;
        
        a {
            color: #fff;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }
    }
}
// PRIVACY
.privacy {
    color: #FFF;
}