html {
  scroll-behavior: smooth;
}

body {
  background: url(../img/hero-bg.png) center no-repeat;
  position: relative;
  background-size: cover;
  color: #171925;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.container-fluid {
  padding: 0 96px;
}

.mask {
  background: #171925;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.94;
}

.block-mask {
  background: #171925;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.94;
}

.accent-btn {
  border-radius: 6px;
  border: none;
  background-color: #E6F64B;
  color: #171925;
}

.accent-btn:hover {
  background-color: #E9F75E;
}

.active-block {
  display: block !important;
}

.active-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-color: #171925;
  opacity: 0.9;
}

.cookies {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 51;
  width: 340px;
  height: auto;
  border-radius: 24px;
  background-color: #e8e8e9;
  padding: 24px 44px;
  text-align: center;
}

.cookies p {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.cookies .buttons button {
  width: 96px;
  height: 44px;
  border: 1px solid #7B7E96;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.cookies .buttons button:hover {
  background-color: #D1D1D4;
}

.cookies .buttons .allow {
  margin-right: 16px;
  background-color: #DEDEE0;
}

.input-container {
  position: relative;
  width: auto;
}

.input-container embed {
  position: absolute;
  right: 13px;
  top: 13px;
}

input {
  width: 244px;
  height: 44px;
  margin-bottom: 24px;
  border-radius: 6px;
  border: none;
  padding-left: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #969CBF;
}

input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #969CBF;
}

input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #969CBF;
}

input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #969CBF;
}

input:focus {
  outline: none;
}

.sign-popup {
  display: none;
  position: relative;
  width: 608px;
  height: 532px;
  position: absolute;
  background-color: rgba(43, 46, 68, 0.9);
  z-index: 20;
  border-radius: 24px;
  top: 49px;
  padding: 44px 48px;
  color: #fff;
  text-align: center;
}

.sign-popup .close-sign {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.sign-popup .inputs {
  margin-top: 44px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-popup button {
  width: 244px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.sign-popup p {
  margin-top: 23px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.sign-popup p a {
  color: #E6F64B;
}

.sign-popup p a:hover {
  color: #E9F75E;
  text-decoration: none;
}

.login-popup {
  position: absolute;
  width: 332px;
  height: 430px;
  padding: 44px;
  background-color: rgba(43, 46, 68, 0.9);
  z-index: 20;
  border-radius: 24px;
  top: 49px;
  text-align: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.login-popup .close-login {
  position: absolute;
  right: 26px;
  top: 26px;
  cursor: pointer;
}

.login-popup h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 44px;
}

.login-popup a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 36px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.login-popup a:hover {
  text-decoration: none;
  color: #E9F75E;
}

.login-popup button {
  padding: 10px 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.login-popup p {
  margin-top: 23px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.login-popup p a {
  color: #E6F64B;
}

.login-popup p a:hover {
  color: #E9F75E;
  text-decoration: none;
}

.login-popup .red {
  display: none;
}

.login-popup .err {
  display: none;
}

.red-alert input {
  border: 2px solid #F64B4B;
}

.red-alert img {
  fill: red;
  display: none;
}

.red-alert .err {
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #F64B4B;
  margin-top: -22px;
  margin-bottom: 4px;
}

.red-alert .red {
  display: block;
}

.red-alert .err {
  display: block;
}

header {
  padding: 48px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .burger-menu {
  display: none;
}

header .burger-list {
  display: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 55px;
  position: relative;
  height: 44px;
}

header nav .nav-container a {
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  padding-bottom: 8px;
}

header nav .nav-container a:hover {
  color: #fff;
  text-decoration: none;
}

header nav .nav-container .dot {
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #E6F64B;
  bottom: 0;
}

header nav .nav-container:hover .dot {
  display: block;
}

header .buttons button {
  height: 44px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

header .buttons .login {
  background-color: transparent;
  color: #fff;
  border: 2px solid #2B2E44;
  padding: 0px 25px;
}

header .buttons .sign-up {
  border: none;
  background-color: #E6F64B;
  padding: 0px 17px;
  margin-left: 16px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-descr {
  margin-top: 128px;
  margin-left: 110px;
  color: #fff;
  width: 55%;
}

.hero-descr h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 800;
  margin-bottom: 34px;
}

.hero-descr h1 span {
  color: #E6F64B;
}

.hero-descr p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 56px;
}

.hero-descr button {
  padding: 16px 32px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.blocks {
  position: relative;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 32px 0px 32px 40px;
  width: 49%;
  height: 200px;
  background-color: rgba(41, 44, 65, 0.5);
  border-radius: 26px;
  margin-bottom: 48px;
}

.blocks .block-descr {
  color: #fff;
  width: 310px;
}

.blocks .block-descr h5 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.blocks .block-descr p {
  color: #B6BAD2;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.blocks .block embed {
  position: absolute;
  top: -55px;
  right: -75px;
}

.blocks .block embed svg {
  width: 156px;
  height: 204px;
}

.blocks .block .bag {
  top: -70px;
}

.blocks .dragon {
  position: absolute;
  right: -30px;
  bottom: -110px;
}

.popular {
  margin-top: 80px;
}

.popular h2 {
  font-size: 44px;
  font-weight: 800;
  line-height: 80px;
  color: #FFF;
  margin-bottom: 56px;
}

.popular h2 span {
  color: #E6F64B;
}

.popular-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-blocks .popular-block {
  cursor: pointer;
  position: relative;
  width: 21%;
}

.popular-blocks .popular-block .image {
  opacity: 1;
  display: block;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
}

.popular-blocks .popular-block .play {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.popular-blocks .popular-block embed {
  border-radius: 20px;
  margin-bottom: 22px;
}

.popular-blocks .popular-block p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 26px;
}

.popular-blocks .popular-block:hover .image {
  opacity: 0.5;
}

.popular-blocks .popular-block:hover .play {
  opacity: 1;
}

.reviews {
  margin-top: 82px;
  color: #fff;
  position: relative;
}

.reviews .gem {
  position: absolute;
  right: 0;
}

.reviews .un_gem {
  position: absolute;
  bottom: 100px;
  left: 0;
}

.reviews h1 {
  margin-bottom: 56px;
  text-align: center;
}

.reviews .carousel {
  height: 500px;
}

.reviews .review-block {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  height: 400px;
  padding: 48px;
  background-color: #292C4180;
  border-radius: 26px;
}

.reviews .review-block h4 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.reviews .review-block p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #B6BAD2;
  margin: 0;
}

.reviews .review-block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .review-block_header .info {
  margin-left: 16px;
}

.reviews .review-block_body {
  margin-top: 37px;
}

.reviews .review-block_body h4 {
  margin-bottom: 9px;
}

.reviews .review-block .rating {
  margin-top: 34px;
}

.reviews .review-block:nth-child(1) {
  margin-right: 1.5%;
}

.reviews .review-block:nth-child(3) {
  margin-left: 1.5%;
}

.reviews .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .carousel-indicators li {
  background-color: #E6F64B;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.reviews .carousel-indicators .active {
  width: 20px;
  height: 20px;
}

footer {
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright {
  width: 60%;
  color: #676A7C;
  font-size: 14px;
  line-height: 24px;
}

footer .terms {
  color: #676A7C;
}

footer .terms a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

footer .terms a:hover {
  text-decoration: none;
  color: #E9F75E;
}

.privacy {
  color: #FFF;
}

.privacy p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.privacy p span {
  font-weight: 700;
}

.privacy a {
  color: #fff;
  font-weight: 700;
}

.privacy a:hover {
  color: #E9F75E;
  text-decoration: none;
}

.privacy h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  margin-top: 115px;
  margin-bottom: 54px;
}

.privacy h4 {
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .container-fluid {
    padding: 0 48px;
  }
  header nav {
    margin-top: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .container-fluid {
    padding: 0 48px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header a {
    width: 80%;
  }
  header a img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .buttons {
    margin: 24px 0px;
  }
  header nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  header nav a {
    margin-right: 14px;
  }
  header nav .nav-container:last-child {
    margin-right: 0;
  }
  .hero embed {
    width: 70%;
  }
  .hero-descr {
    width: 100%;
    margin: 30px 0px 30px 30px;
  }
  .blocks .block {
    width: 49%;
  }
  .blocks .block embed {
    width: 50%;
    top: 0;
  }
  .blocks .block .bag {
    width: 70%;
    top: 10px;
    left: 180px;
  }
  .blocks .dragon {
    width: 50%;
  }
  .popular .popular-blocks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .popular .popular-blocks .popular-block {
    width: 30%;
    margin-left: 3.2%;
  }
  .popular .popular-blocks .popular-block:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .reviews .review-block {
    width: 100%;
    margin-bottom: 15px;
    height: auto;
  }
  .reviews .carousel {
    height: auto;
  }
  footer embed {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .container-fluid {
    padding: 0 48px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header a {
    width: 80%;
  }
  header a img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .buttons {
    margin: 24px 0px;
  }
  header nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  header nav a {
    margin-right: 14px;
  }
  header nav .nav-container:last-child {
    margin-right: 0;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero embed {
    width: 100%;
  }
  .hero-descr {
    width: 100%;
    margin: 30px 0px;
  }
  .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blocks .block {
    width: 100%;
  }
  .blocks .dragon {
    position: static;
  }
  .popular .popular-blocks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .popular .popular-blocks .popular-block {
    width: 45%;
  }
  .popular .popular-blocks .popular-block:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .reviews .review-block {
    width: 100%;
    margin-bottom: 15px;
    height: auto;
  }
  .reviews .carousel {
    height: auto;
  }
  footer embed {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .cookies {
    top: 5%;
  }
  .container-fluid {
    padding: 0 24px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 24px 0;
    position: relative;
    text-align: center;
  }
  header .burger-menu {
    display: block;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  header .burger-list {
    text-align: left;
    position: absolute;
    left: 0;
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(41, 44, 65, 0.9);
    padding: 24px;
    border-radius: 6px;
    z-index: 30;
  }
  header .burger-list a {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }
  header .burger-list a:hover {
    text-decoration: none;
  }
  header .burger-list button {
    width: 120px;
    margin-bottom: 15px;
    height: 33px;
    font-weight: 500;
  }
  header .burger-list button:nth-child(2) {
    margin-bottom: 0;
  }
  header .burger-list .login {
    background-color: transparent;
    border: 2px solid #B6BAD2;
    color: #fff;
    border-radius: 6px;
  }
  header .logo {
    width: 194px;
  }
  header nav {
    display: none;
  }
  header .buttons {
    display: none;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 104px;
  }
  .hero-descr {
    width: 100%;
    margin: 0;
  }
  .hero-descr h1 {
    margin-top: 38px;
    font-weight: 800;
    font-size: 46px;
    line-height: 52px;
  }
  .hero-descr p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }
  .hero-descr button {
    height: 56px;
    width: 100%;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
  }
  .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blocks .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 280px;
    padding: 25px 32px;
    margin-bottom: 56px;
  }
  .blocks .block-descr {
    width: 100%;
  }
  .blocks .block embed {
    width: 40%;
    left: -20px;
    top: -60px;
  }
  .blocks .block .bag {
    width: 80%;
    left: -230px;
    top: -60px;
  }
  .blocks .block h5 {
    font-size: 22px;
    line-height: 32px;
  }
  .blocks .dragon {
    position: static;
    width: 100%;
  }
  .popular h2 {
    font-size: 25px;
    line-height: 31px;
    font-weight: 800;
    margin-bottom: 50px;
  }
  .popular-blocks .popular-block {
    width: 45%;
  }
  .reviews .carousel {
    height: 430px;
  }
  .reviews h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
  .reviews h1 span {
    color: #E6F64B;
  }
  .reviews .gem {
    width: 76px;
    top: 40px;
  }
  .reviews .un_gem {
    width: 80px;
  }
  .reviews .review-block {
    width: 100%;
    padding: 32px;
    height: 100%;
  }
  .reviews .review-block h4 {
    font-size: 20px;
    margin: 0;
  }
  .reviews .review-block p {
    font-size: 14px;
  }
  .reviews .review-block_body {
    margin-top: 21px;
    margin-bottom: 22px;
  }
  .reviews .review-block_body h4 {
    font-size: 18px;
    line-height: 32px;
  }
  .reviews .review-block .rating {
    margin: 0;
  }
  .reviews .review-block:nth-child(2) {
    display: none !important;
  }
  .reviews .review-block:nth-child(3) {
    display: none !important;
  }
  footer {
    margin: 0;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright {
    width: 100%;
  }
  footer embed {
    display: none;
  }
  footer .terms {
    margin-top: 28px;
    margin-bottom: 33px;
  }
  footer .terms span {
    margin: 0 24px;
  }
  .privacy h2 {
    margin-top: 40px;
  }
  .sign-popup {
    top: 10px;
    position: fixed;
    width: 93%;
    height: auto;
    padding: 44px 44px 37px 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sign-popup h1 {
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
  }
  .sign-popup .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sign-popup .inputs input {
    display: block;
    width: 100%;
  }
  .sign-popup button {
    margin-top: 20px;
    width: 100%;
  }
  .login-popup {
    position: fixed;
    top: 10px;
    width: 93%;
  }
  .login-popup input {
    width: 100%;
  }
  .login-popup a {
    margin-top: -10px;
  }
  .login-popup p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .container-fluid {
    padding: 0 24px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 24px 0;
    position: relative;
  }
  header .burger-menu {
    display: block;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  header .burger-list {
    position: absolute;
    left: 0;
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(41, 44, 65, 0.9);
    padding: 24px;
    border-radius: 6px;
    z-index: 30;
  }
  header .burger-list a {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }
  header .burger-list a:hover {
    text-decoration: none;
  }
  header .burger-list button {
    width: 120px;
    margin-bottom: 15px;
    height: 33px;
    font-weight: 500;
  }
  header .burger-list button:nth-child(2) {
    margin-bottom: 0;
  }
  header .burger-list .login {
    background-color: transparent;
    border: 2px solid #B6BAD2;
    color: #fff;
    border-radius: 6px;
  }
  header .logo {
    width: 194px;
  }
  header nav {
    display: none;
  }
  header .buttons {
    display: none;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 104px;
  }
  .hero-descr {
    width: 100%;
    margin: 0;
  }
  .hero-descr h1 {
    margin-top: 38px;
    font-weight: 800;
    font-size: 46px;
    line-height: 52px;
  }
  .hero-descr p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }
  .hero-descr button {
    height: 56px;
    width: 100%;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
  }
  .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blocks .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 280px;
    padding: 25px 32px;
    margin-bottom: 56px;
  }
  .blocks .block-descr {
    width: 100%;
  }
  .blocks .block embed {
    width: 60%;
    left: -20px;
    top: -80px;
  }
  .blocks .block .bag {
    width: 100%;
    left: -210px;
    top: -60px;
  }
  .blocks .block h5 {
    font-size: 22px;
    line-height: 32px;
  }
  .blocks .dragon {
    position: static;
    width: 100%;
  }
  .popular h2 {
    font-size: 25px;
    line-height: 31px;
    font-weight: 800;
    margin-bottom: 50px;
  }
  .popular-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular-blocks .popular-block {
    width: 100% !important;
    margin: 0 !important;
  }
  .reviews .carousel {
    height: 430px;
  }
  .reviews h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
  .reviews h1 span {
    color: #E6F64B;
  }
  .reviews .gem {
    width: 76px;
    top: 40px;
  }
  .reviews .un_gem {
    width: 80px;
  }
  .reviews .review-block {
    width: 100%;
    padding: 32px;
    height: 100%;
  }
  .reviews .review-block h4 {
    font-size: 20px;
    margin: 0;
  }
  .reviews .review-block p {
    font-size: 14px;
  }
  .reviews .review-block_body {
    margin-top: 21px;
    margin-bottom: 22px;
  }
  .reviews .review-block_body h4 {
    font-size: 18px;
    line-height: 32px;
  }
  .reviews .review-block .rating {
    margin: 0;
  }
  .reviews .review-block:nth-child(2) {
    display: none !important;
  }
  .reviews .review-block:nth-child(3) {
    display: none !important;
  }
  footer {
    margin: 0;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright {
    width: 100%;
  }
  footer embed {
    display: none;
  }
  footer .terms {
    margin-top: 28px;
    margin-bottom: 33px;
  }
  footer .terms span {
    margin: 0 24px;
  }
  .privacy h2 {
    margin-top: 40px;
  }
  .sign-popup {
    top: 10px;
    position: fixed;
    width: 93%;
    height: auto;
    padding: 44px 44px 37px 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sign-popup h1 {
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
  }
  .sign-popup .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sign-popup .inputs input {
    display: block;
    width: 100%;
  }
  .sign-popup button {
    margin-top: 20px;
    width: 100%;
  }
  .login-popup {
    position: fixed;
    top: 10px;
    width: 93%;
  }
  .login-popup input {
    width: 100%;
  }
  .login-popup a {
    margin-top: -10px;
  }
  .login-popup p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .blocks .block .bag {
    margin-left: -190px;
  }
}
/*# sourceMappingURL=style.css.map */